In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")

In [3]:
df

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [4]:
df["Rating"].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [5]:
df_neg = df.loc[df["Rating"]< 3] 
df_neg = df_neg.reset_index (drop = True)

In [6]:
df_five = df.loc[df["Rating"] == 5]
df_five = df_five.reset_index(drop = True)

In [7]:
df_pos = df_five.loc[:len(df_neg)]

In [8]:
df_all = pd.concat([df_neg, df_pos], axis =0)
df_all = df_all.reset_index (drop = True)

In [9]:
len(df_all)

6429

In [10]:
df_all["sentiment"] = np.where(df_all["Rating"] == 5, "Positive","Negative" )

In [11]:
df_all = df_all.sample(frac = 1)
df_all = df_all.reset_index(drop = True)

In [12]:
df_all.head(10)

                                              Review  Rating sentiment
0  wedding paradise, arrived home today 10/13/04 ...       2  Negative
1  tiny tiny rooms clean paying 60-80/night place...       2  Negative
2  fantastic loved w hotel small elegant beautifu...       5  Positive
3  terrible desk service left tears room hotel ni...       2  Negative
4  muy bien excellence stayed excellence 26th ann...       5  Positive
5  great location lake union silver cloud near do...       5  Positive
6  iberostar bavaro excellent value, just got tod...       5  Positive
7  not stay arrived suprised valet parking, nice ...       2  Negative
8  says excellence shelf food drinks nightly live...       5  Positive
9  not impressive just come 4 night stay charlesm...       2  Negative

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_all.Review, df_all.sentiment)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_vec = v.fit_transform(x_train)
x_test_vec = v.transform(x_test)

In [15]:
from sklearn import svm
clf_svm = svm.SVC (kernel = "linear")
clf_svm.fit(x_train_vec, y_train)

SVC(kernel='linear')

In [16]:
clf_svm.score(x_test_vec, y_test)

0.9508706467661692

In [17]:
from sklearn.metrics import f1_score
f1_score(y_test, clf_svm.predict(x_test_vec), average = None)

array([0.95108359, 0.95065584])

In [18]:
rev = ["Absolutely hated this place. Horrible food"]
rev_vec = v. transform(rev)
clf_svm.predict (rev_vec)

array(['Negative'], dtype=object)

In [19]:
rev = ["Absolutely loved this place. Tasty food"]
rev_vec = v. transform(rev)
clf_svm.predict (rev_vec)

array(['Positive'], dtype=object)